# 0  Global Code

In [106]:
%load_ext sql
import pymysql
pymysql.install_as_MySQLdb()
%sql mysql://stu1900011102:stu1900011102@162.105.146.37:43306

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [107]:
%sql use stu1900011102;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.

[]

# 1  Internship 5——题目15: 图的聚类系数的近似计算
## 1.1 创建无向图的节点表
参考给的无向图代码

In [108]:
%%sql
set foreign_key_checks=0;
drop table if exists Cities;
create table Cities
(
  cityid  CHAR(3)     NOT NULL PRIMARY KEY,
  city    VARCHAR(30) NOT NULL,
  region  VARCHAR(30) NULL,
  country VARCHAR(30) NOT NULL
);
set foreign_key_checks=1;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [109]:
%%sql
truncate table Cities; # 每次添加之前先清空table
insert into Cities(cityid, city, region, country) values
  ('ATL', 'Atlanta', 'GA', 'USA'),
  ('ORD', 'Chicago', 'IL', 'USA'),
  ('DEN', 'Denver', 'CO', 'USA'),
  ('IAH', 'Houston', 'TX', 'USA'),
  ('MCI', 'Kansas City', 'KS', 'USA'),
  ('LAX', 'Los Angeles', 'CA', 'USA'),
  ('MIA', 'Miami', 'FL', 'USA'),
  ('MSP', 'Minneapolis', 'MN', 'USA'),
  ('JFK', 'New York', 'NY', 'USA'),
  ('SEA', 'Seattle', 'WA', 'USA'),
  ('SFO', 'San Francisco', 'CA', 'USA'),
  ('ANC', 'Anchorage', 'AK', 'USA'),
  ('FAI', 'Fairbanks', 'AK', 'USA');

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
13 rows affected.

[]

## 1.2 创建无向图的边表
参考给的无向图代码

In [110]:
%%sql
set foreign_key_checks=0;
drop table if exists Roads;
create table Roads
(
  city1       CHAR(3) NOT NULL REFERENCES Cities,
  city2       CHAR(3) NOT NULL REFERENCES Cities,
  distance INT     NOT NULL,
  PRIMARY KEY(city1, city2),
  CHECK(city1 < city2),
  CHECK(distance > 0)
);
set foreign_key_checks=1;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [111]:
%%sql
truncate table Roads; # 每次添加之前先清空table
insert into Roads(city1, city2, distance) VALUES
  ('ANC', 'FAI',  359),
  ('ATL', 'ORD',  715),
  ('ATL', 'IAH',  800),
  ('ATL', 'MCI',  805),
  ('ATL', 'MIA',  665),
  ('ATL', 'JFK',  865),
  ('DEN', 'IAH', 1120),
  ('DEN', 'MCI',  600),
  ('DEN', 'LAX', 1025),
  ('DEN', 'MSP',  915),
  ('DEN', 'SEA', 1335),
  ('DEN', 'SFO', 1270),
  ('IAH', 'MCI',  795),
  ('IAH', 'LAX', 1550),
  ('IAH', 'MIA', 1190),
  ('JFK', 'ORD',  795),
  ('LAX', 'SFO',  385),
  ('MCI', 'ORD',  525),
  ('MCI', 'MSP',  440),
  ('MSP', 'ORD',  410),
  ('MSP', 'SEA', 2015),
  ('SEA', 'SFO',  815);

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
22 rows affected.

[]

聚类系数(clustering coefficient)：衡量你的两个朋友之间也互为朋友的概率<br>
$C = \frac{3 * 网络中三角形数目}{网络中连通的三元组数目}$ <br>
通过邻接矩阵自乘得到三角形个数

### 1.3  一步可达邻接表

In [112]:
%%sql
set foreign_key_checks=0;
drop table if exists Neighbor1;
create table Neighbor1
(
  city1       CHAR(3) NOT NULL REFERENCES Cities,
  city2       CHAR(3) NOT NULL REFERENCES Cities,
  PRIMARY KEY (city1, city2)
);
set foreign_key_checks=1;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [113]:
%%sql
truncate table Neighbor1;
insert into Neighbor1(city1, city2)
    select city1, city2 from Roads;
replace into Neighbor1(city1, city2) 
    select city2, city1 from Roads;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
22 rows affected.
22 rows affected.

[]

### 1.4  两步可达邻接表
矩阵自乘即可<br>
但我感觉这里用Roads生成更简单一点

In [114]:
%%sql
set foreign_key_checks=0;
drop table if exists Neighbor2;
create table Neighbor2
(
  city1       CHAR(3) NOT NULL REFERENCES Cities,
  city2       CHAR(3) NOT NULL REFERENCES Cities,
  PRIMARY KEY (city1, city2)
);
set foreign_key_checks=1;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [143]:
%%sql
truncate table Neighbor2;
# 使用replace into避免表中出现重复数据
insert into Neighbor2(city1, city2)
        select distinct A.city1, B.city2
            from Roads as A, Roads as B 
            where A.city2 = B.city1 and A.city1 != B.city2;
replace into Neighbor2(city1, city2)
        select distinct B.city2, A.city1
            from Roads as A, Roads as B 
            where A.city2 = B.city1 and A.city1 != B.city2;
replace into Neighbor2(city1, city2)
        select distinct A.city2, B.city1
            from Roads as A, Roads as B 
            where A.city1 = B.city2 and A.city2 != B.city1;
replace into Neighbor2(city1, city2)
        select distinct B.city1, A.city2
            from Roads as A, Roads as B 
            where A.city1 = B.city2 and A.city2 != B.city1;
replace into Neighbor2(city1, city2)
        select distinct A.city1, B.city1
            from Roads as A, Roads as B 
            where A.city2 = B.city2 and A.city1 != B.city1;
replace into Neighbor2(city1, city2)
        select distinct B.city1, A.city1
            from Roads as A, Roads as B 
            where A.city2 = B.city2 and A.city1 != B.city1;
replace into Neighbor2(city1, city2)
        select distinct A.city2, B.city2
            from Roads as A, Roads as B 
            where A.city1 = B.city1 and A.city2 != B.city2;
replace into Neighbor2(city1, city2)
        select distinct B.city2, A.city2
            from Roads as A, Roads as B 
            where A.city1 = B.city1 and A.city2 != B.city2;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
18 rows affected.
18 rows affected.
18 rows affected.
18 rows affected.
28 rows affected.
28 rows affected.
54 rows affected.
54 rows affected.

[]

In [144]:
%sql select * from Neighbor2

 * mysql://stu1900011102:***@162.105.146.37:43306
88 rows affected.

[('ATL', 'DEN'),
 ('ATL', 'IAH'),
 ('ATL', 'JFK'),
 ('ATL', 'LAX'),
 ('ATL', 'MCI'),
 ('ATL', 'MIA'),
 ('ATL', 'MSP'),
 ('ATL', 'ORD'),
 ('DEN', 'ATL'),
 ('DEN', 'IAH'),
 ('DEN', 'LAX'),
 ('DEN', 'MCI'),
 ('DEN', 'MIA'),
 ('DEN', 'MSP'),
 ('DEN', 'ORD'),
 ('DEN', 'SEA'),
 ('DEN', 'SFO'),
 ('IAH', 'ATL'),
 ('IAH', 'DEN'),
 ('IAH', 'JFK'),
 ('IAH', 'LAX'),
 ('IAH', 'MCI'),
 ('IAH', 'MIA'),
 ('IAH', 'MSP'),
 ('IAH', 'ORD'),
 ('IAH', 'SEA'),
 ('IAH', 'SFO'),
 ('JFK', 'ATL'),
 ('JFK', 'IAH'),
 ('JFK', 'MCI'),
 ('JFK', 'MIA'),
 ('JFK', 'MSP'),
 ('JFK', 'ORD'),
 ('LAX', 'ATL'),
 ('LAX', 'DEN'),
 ('LAX', 'IAH'),
 ('LAX', 'MCI'),
 ('LAX', 'MIA'),
 ('LAX', 'MSP'),
 ('LAX', 'SEA'),
 ('LAX', 'SFO'),
 ('MCI', 'ATL'),
 ('MCI', 'DEN'),
 ('MCI', 'IAH'),
 ('MCI', 'JFK'),
 ('MCI', 'LAX'),
 ('MCI', 'MIA'),
 ('MCI', 'MSP'),
 ('MCI', 'ORD'),
 ('MCI', 'SEA'),
 ('MCI', 'SFO'),
 ('MIA', 'ATL'),
 ('MIA', 'DEN'),
 ('MIA', 'IAH'),
 ('MIA', 'JFK'),
 ('MIA', 'LAX'),
 ('MIA', 'MCI'),
 ('MIA', 'ORD'),
 ('MSP', 'ATL'),
 ('MSP', 'DEN'),
 ('MSP', 'IAH'),
 ('MSP', 'JFK'),
 ('MSP', 'LAX'),
 ('MSP', 'MCI'),
 ('MSP', 'ORD'),
 ('MSP', 'SEA'),
 ('MSP', 'SFO'),
 ('ORD', 'ATL'),
 ('ORD', 'DEN'),
 ('ORD', 'IAH'),
 ('ORD', 'JFK'),
 ('ORD', 'MCI'),
 ('ORD', 'MIA'),
 ('ORD', 'MSP'),
 ('ORD', 'SEA'),
 ('SEA', 'DEN'),
 ('SEA', 'IAH'),
 ('SEA', 'LAX'),
 ('SEA', 'MCI'),
 ('SEA', 'MSP'),
 ('SEA', 'ORD'),
 ('SEA', 'SFO'),
 ('SFO', 'DEN'),
 ('SFO', 'IAH'),
 ('SFO', 'LAX'),
 ('SFO', 'MCI'),
 ('SFO', 'MSP'),
 ('SFO', 'SEA')]

### 1.5  计算三角形个数
用Neighbor1 & Neighbor2即可<br>
由于重合边，计算结果 / 6

In [145]:
%%sql
drop procedure if exists countTri;
create procedure countTri(out cnt int)
begin

    select ceiling(count(*)/6) into cnt
        from (select Neighbor1.city1 as city1, Neighbor2.city2 as city2
              from Neighbor1, Neighbor2 
              where Neighbor1.city1 = Neighbor2.city1 and Neighbor1.city2 = Neighbor2.city2
        ) as tmp;

end;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

In [147]:
%%sql
set @cntTri = 0;
call countTri(@cntTri);
select @cntTri;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
1 rows affected.
1 rows affected.

[(7,)]

### 1.6  计算三元组个数
注意重复就可以

In [118]:
%%sql
set foreign_key_checks=0;
drop table if exists Trigroup;
create table Trigroup
(
  city1       CHAR(3) NOT NULL REFERENCES Cities,
  city2       CHAR(3) NOT NULL REFERENCES Cities,
  city3       CHAR(3) NOT NULL REFERENCES Cities,
  PRIMARY KEY (city1, city2, city3)
);
set foreign_key_checks=1;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [134]:
%%sql
truncate table Trigroup;
# 使用replace into避免表中出现重复数据
insert into Trigroup(city1, city2, city3)
    SELECT distinct A.city2, A.city1, B.city2 from Roads as A, Roads as B
    where A.city1 = B.city1 and A.city2 != B.city2;
replace into Trigroup(city1, city2, city3)
    SELECT distinct A.city2, A.city1, B.city1 from Roads as A, Roads as B
    where A.city1 = B.city2 and A.city2 != B.city1;
replace into Trigroup(city1, city2, city3)
    SELECT distinct A.city1, A.city2, B.city2 from Roads as A, Roads as B
    where A.city2 = B.city1 and A.city1 != B.city2;
replace into Trigroup(city1, city2, city3)
    SELECT distinct A.city1, A.city2, B.city1 from Roads as A, Roads as B
    where A.city2 = B.city2 and A.city1 != B.city1;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
60 rows affected.
21 rows affected.
21 rows affected.
34 rows affected.

[]

In [135]:
%sql select * from Trigroup

 * mysql://stu1900011102:***@162.105.146.37:43306
136 rows affected.

[('ATL', 'IAH', 'DEN'),
 ('ATL', 'IAH', 'LAX'),
 ('ATL', 'IAH', 'MCI'),
 ('ATL', 'IAH', 'MIA'),
 ('ATL', 'JFK', 'ORD'),
 ('ATL', 'MCI', 'DEN'),
 ('ATL', 'MCI', 'IAH'),
 ('ATL', 'MCI', 'MSP'),
 ('ATL', 'MCI', 'ORD'),
 ('ATL', 'MIA', 'IAH'),
 ('ATL', 'ORD', 'JFK'),
 ('ATL', 'ORD', 'MCI'),
 ('ATL', 'ORD', 'MSP'),
 ('DEN', 'IAH', 'ATL'),
 ('DEN', 'IAH', 'LAX'),
 ('DEN', 'IAH', 'MCI'),
 ('DEN', 'IAH', 'MIA'),
 ('DEN', 'LAX', 'IAH'),
 ('DEN', 'LAX', 'SFO'),
 ('DEN', 'MCI', 'ATL'),
 ('DEN', 'MCI', 'IAH'),
 ('DEN', 'MCI', 'MSP'),
 ('DEN', 'MCI', 'ORD'),
 ('DEN', 'MSP', 'MCI'),
 ('DEN', 'MSP', 'ORD'),
 ('DEN', 'MSP', 'SEA'),
 ('DEN', 'SEA', 'MSP'),
 ('DEN', 'SEA', 'SFO'),
 ('DEN', 'SFO', 'LAX'),
 ('DEN', 'SFO', 'SEA'),
 ('IAH', 'ATL', 'JFK'),
 ('IAH', 'ATL', 'MCI'),
 ('IAH', 'ATL', 'MIA'),
 ('IAH', 'ATL', 'ORD'),
 ('IAH', 'DEN', 'LAX'),
 ('IAH', 'DEN', 'MCI'),
 ('IAH', 'DEN', 'MSP'),
 ('IAH', 'DEN', 'SEA'),
 ('IAH', 'DEN', 'SFO'),
 ('IAH', 'LAX', 'DEN'),
 ('IAH', 'LAX', 'SFO'),
 ('IAH', 'MCI', 'ATL'),
 ('IAH', 'MCI', 'DEN'),
 ('IAH', 'MCI', 'MSP'),
 ('IAH', 'MCI', 'ORD'),
 ('IAH', 'MIA', 'ATL'),
 ('JFK', 'ATL', 'IAH'),
 ('JFK', 'ATL', 'MCI'),
 ('JFK', 'ATL', 'MIA'),
 ('JFK', 'ATL', 'ORD'),
 ('JFK', 'ORD', 'ATL'),
 ('JFK', 'ORD', 'MCI'),
 ('JFK', 'ORD', 'MSP'),
 ('LAX', 'DEN', 'IAH'),
 ('LAX', 'DEN', 'MCI'),
 ('LAX', 'DEN', 'MSP'),
 ('LAX', 'DEN', 'SEA'),
 ('LAX', 'DEN', 'SFO'),
 ('LAX', 'IAH', 'ATL'),
 ('LAX', 'IAH', 'DEN'),
 ('LAX', 'IAH', 'MCI'),
 ('LAX', 'IAH', 'MIA'),
 ('LAX', 'SFO', 'DEN'),
 ('LAX', 'SFO', 'SEA'),
 ('MCI', 'ATL', 'IAH'),
 ('MCI', 'ATL', 'JFK'),
 ('MCI', 'ATL', 'MIA'),
 ('MCI', 'ATL', 'ORD'),
 ('MCI', 'DEN', 'IAH'),
 ('MCI', 'DEN', 'LAX'),
 ('MCI', 'DEN', 'MSP'),
 ('MCI', 'DEN', 'SEA'),
 ('MCI', 'DEN', 'SFO'),
 ('MCI', 'IAH', 'ATL'),
 ('MCI', 'IAH', 'DEN'),
 ('MCI', 'IAH', 'LAX'),
 ('MCI', 'IAH', 'MIA'),
 ('MCI', 'MSP', 'DEN'),
 ('MCI', 'MSP', 'ORD'),
 ('MCI', 'MSP', 'SEA'),
 ('MCI', 'ORD', 'ATL'),
 ('MCI', 'ORD', 'JFK'),
 ('MCI', 'ORD', 'MSP'),
 ('MIA', 'ATL', 'IAH'),
 ('MIA', 'ATL', 'JFK'),
 ('MIA', 'ATL', 'MCI'),
 ('MIA', 'ATL', 'ORD'),
 ('MIA', 'IAH', 'ATL'),
 ('MIA', 'IAH', 'DEN'),
 ('MIA', 'IAH', 'LAX'),
 ('MIA', 'IAH', 'MCI'),
 ('MSP', 'DEN', 'IAH'),
 ('MSP', 'DEN', 'LAX'),
 ('MSP', 'DEN', 'MCI'),
 ('MSP', 'DEN', 'SEA'),
 ('MSP', 'DEN', 'SFO'),
 ('MSP', 'MCI', 'ATL'),
 ('MSP', 'MCI', 'DEN'),
 ('MSP', 'MCI', 'IAH'),
 ('MSP', 'MCI', 'ORD'),
 ('MSP', 'ORD', 'ATL'),
 ('MSP', 'ORD', 'JFK'),
 ('MSP', 'ORD', 'MCI'),
 ('MSP', 'SEA', 'DEN'),
 ('MSP', 'SEA', 'SFO'),
 ('ORD', 'ATL', 'IAH'),
 ('ORD', 'ATL', 'JFK'),
 ('ORD', 'ATL', 'MCI'),
 ('ORD', 'ATL', 'MIA'),
 ('ORD', 'JFK', 'ATL'),
 ('ORD', 'MCI', 'ATL'),
 ('ORD', 'MCI', 'DEN'),
 ('ORD', 'MCI', 'IAH'),
 ('ORD', 'MCI', 'MSP'),
 ('ORD', 'MSP', 'DEN'),
 ('ORD', 'MSP', 'MCI'),
 ('ORD', 'MSP', 'SEA'),
 ('SEA', 'DEN', 'IAH'),
 ('SEA', 'DEN', 'LAX'),
 ('SEA', 'DEN', 'MCI'),
 ('SEA', 'DEN', 'MSP'),
 ('SEA', 'DEN', 'SFO'),
 ('SEA', 'MSP', 'DEN'),
 ('SEA', 'MSP', 'MCI'),
 ('SEA', 'MSP', 'ORD'),
 ('SEA', 'SFO', 'DEN'),
 ('SEA', 'SFO', 'LAX'),
 ('SFO', 'DEN', 'IAH'),
 ('SFO', 'DEN', 'LAX'),
 ('SFO', 'DEN', 'MCI'),
 ('SFO', 'DEN', 'MSP'),
 ('SFO', 'DEN', 'SEA'),
 ('SFO', 'LAX', 'DEN'),
 ('SFO', 'LAX', 'IAH'),
 ('SFO', 'SEA', 'DEN'),
 ('SFO', 'SEA', 'MSP')]

In [139]:
%%sql
drop procedure if exists countGroup;
create procedure countGroup(out cnt int)
begin

    select ceiling(count(*) / 2) into cnt
        from Trigroup;

end;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

In [140]:
%%sql
set @cntGroup = 0;
call countGroup(@cntGroup);
select @cntGroup;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
1 rows affected.
1 rows affected.

[(68,)]

### 1.7  计算聚类系数
$C = \frac{3 * 网络中三角形数目}{网络中连通的三元组数目}$

In [148]:
%%sql
set @res = 3 * @cntTri / @cntGroup;
select @res;

 * mysql://stu1900011102:***@162.105.146.37:43306
0 rows affected.
1 rows affected.

[(Decimal('0.308823529'),)]