## 内核准备

In [36]:
%reload_ext sql
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu1900011804:stu1900011804@162.105.146.37:43306

%sql use stu1900011804;

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
0 rows affected.

[]

# 实习三 第二题

## 导入数据

In [39]:
%%sql
create table if not exists itm(c1 FLOAT, c2 FLOAT) select * from dataset.itemscore

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
0 rows affected.

[]

## AUC 计算

In [40]:
%%sql
select sum((tpr + pre_tpr) / 2 * (fpr - pre_fpr)) as AUC # 梯形积分法
from (
      select c1
      ,cum_bad / tot_bad as tpr # 真阳性率
      ,cum_good / tot_good as fpr # 假阳性率
      ,lead(cum_bad / tot_bad) over(order by cum_bad / tot_bad desc) as pre_tpr
      ,lead(cum_good / tot_good) over(order by cum_good / tot_good desc) as pre_fpr
      from (
            select c1
               ,count(if(round(c2) = 1, 1, null)) over(order by c1 desc) as cum_bad
               ,count(if(round(c2) = 1, 1, null)) over() as tot_bad
               ,count(if(round(c2) = -1, 1, null)) over(order by c1 desc) as cum_good
               ,count(if(round(c2) = -1, 1, null)) over() as tot_good
            from itm
      ) a
) b

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
1 rows affected.

[(Decimal('0.747925185000'),)]

# 实习三 第三题

## 导入数据

In [41]:
%%sql
create table if not exists buyComputer(age int, income char(10), student char(3), credit_rating char(10), buys_computer char(3))

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
0 rows affected.

[]

In [47]:
%%sql
truncate buyComputer;
insert into buyComputer values
	(30,'high','no','fair','no'),(30,'high','no','excellent','no'),(40,'high','no','fair','yes'),
	(50,'medium','no','fair','yes'),(50,'low','yes','fair','yes'),(50,'low','yes','excellent','no'),
	(40,'low','yes','excellent','yes'),(30,'medium','no','fair','no'),(30,'low','yes','fair','yes'),
	(50,'medium','yes','fair','yes'),(30,'medium','yes','excellent','yes'),(40,'medium','no','excellent','yes'),
	(40,'high','yes','fair','yes'),(50,'medium','no','excellent','no');

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
0 rows affected.
14 rows affected.

[]

In [48]:
%%sql
select * from buyComputer

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
14 rows affected.

[(30, 'high', 'no', 'fair', 'no'),
 (30, 'high', 'no', 'excellent', 'no'),
 (40, 'high', 'no', 'fair', 'yes'),
 (50, 'medium', 'no', 'fair', 'yes'),
 (50, 'low', 'yes', 'fair', 'yes'),
 (50, 'low', 'yes', 'excellent', 'no'),
 (40, 'low', 'yes', 'excellent', 'yes'),
 (30, 'medium', 'no', 'fair', 'no'),
 (30, 'low', 'yes', 'fair', 'yes'),
 (50, 'medium', 'yes', 'fair', 'yes'),
 (30, 'medium', 'yes', 'excellent', 'yes'),
 (40, 'medium', 'no', 'excellent', 'yes'),
 (40, 'high', 'yes', 'fair', 'yes'),
 (50, 'medium', 'no', 'excellent', 'no')]

## 计算先验概率

In [109]:
%%sql
create table prior_p (
select age, income, student, credit_rating, buys_computer, 
    buys_computer_count / total_count as prior, 
    age_count / buys_computer_count as p_age,
    student_count / buys_computer_count as p_student,
    income_count / buys_computer_count as p_income,
    credit_rating_count / buys_computer_count as p_credit_rating
    from (
select *, 
    count(buys_computer) OVER() as total_count,
    count(buys_computer) OVER(PARTITION BY buys_computer) as buys_computer_count,
    count(buys_computer) OVER(PARTITION BY buys_computer, age) as age_count,
    count(buys_computer) OVER(PARTITION BY buys_computer, student) as student_count,
    count(buys_computer) OVER(PARTITION BY buys_computer, income) as income_count,
    count(buys_computer) OVER(PARTITION BY buys_computer, credit_rating) as credit_rating_count
from buyComputer
) A
)

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
14 rows affected.

[]

In [120]:
%%sql
select * from prior_p

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
14 rows affected.

[(30, 'high', 'no', 'excellent', 'no', Decimal('0.3571'), Decimal('0.6000'), Decimal('0.8000'), Decimal('0.4000'), Decimal('0.6000')),
 (50, 'low', 'yes', 'excellent', 'no', Decimal('0.3571'), Decimal('0.4000'), Decimal('0.2000'), Decimal('0.2000'), Decimal('0.6000')),
 (50, 'medium', 'no', 'excellent', 'no', Decimal('0.3571'), Decimal('0.4000'), Decimal('0.8000'), Decimal('0.4000'), Decimal('0.6000')),
 (30, 'high', 'no', 'fair', 'no', Decimal('0.3571'), Decimal('0.6000'), Decimal('0.8000'), Decimal('0.4000'), Decimal('0.4000')),
 (30, 'medium', 'no', 'fair', 'no', Decimal('0.3571'), Decimal('0.6000'), Decimal('0.8000'), Decimal('0.4000'), Decimal('0.4000')),
 (40, 'low', 'yes', 'excellent', 'yes', Decimal('0.6429'), Decimal('0.4444'), Decimal('0.6667'), Decimal('0.3333'), Decimal('0.3333')),
 (40, 'medium', 'no', 'excellent', 'yes', Decimal('0.6429'), Decimal('0.4444'), Decimal('0.3333'), Decimal('0.4444'), Decimal('0.3333')),
 (30, 'medium', 'yes', 'excellent', 'yes', Decimal('0.6429'), Decimal('0.2222'), Decimal('0.6667'), Decimal('0.4444'), Decimal('0.3333')),
 (40, 'high', 'no', 'fair', 'yes', Decimal('0.6429'), Decimal('0.4444'), Decimal('0.3333'), Decimal('0.2222'), Decimal('0.6667')),
 (40, 'high', 'yes', 'fair', 'yes', Decimal('0.6429'), Decimal('0.4444'), Decimal('0.6667'), Decimal('0.2222'), Decimal('0.6667')),
 (30, 'low', 'yes', 'fair', 'yes', Decimal('0.6429'), Decimal('0.2222'), Decimal('0.6667'), Decimal('0.3333'), Decimal('0.6667')),
 (50, 'low', 'yes', 'fair', 'yes', Decimal('0.6429'), Decimal('0.3333'), Decimal('0.6667'), Decimal('0.3333'), Decimal('0.6667')),
 (50, 'medium', 'no', 'fair', 'yes', Decimal('0.6429'), Decimal('0.3333'), Decimal('0.3333'), Decimal('0.4444'), Decimal('0.6667')),
 (50, 'medium', 'yes', 'fair', 'yes', Decimal('0.6429'), Decimal('0.3333'), Decimal('0.6667'), Decimal('0.4444'), Decimal('0.6667'))]

## 推理

In [236]:
%%sql
drop procedure if exists naive_bayes;
create procedure naive_bayes(in my_age int, in my_income char(10), in my_student char(3), in my_credit_rating char(10))
begin
select buys_computer from (
select * from
    (select distinct buys_computer, prior from prior_p) as A natural join
    (select distinct buys_computer, p_age from prior_p where age=my_age) as B natural join
    (select distinct buys_computer, p_income from prior_p where income=my_income) as C natural join
    (select distinct buys_computer, p_student from prior_p where student=my_student) as D natural join
    (select distinct buys_computer, p_credit_rating from prior_p where credit_rating=my_credit_rating) as E
) F order by prior * p_age * p_income * p_student * p_credit_rating desc limit 1;
end;

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
0 rows affected.
0 rows affected.

[]

In [237]:
%%sql
call naive_bayes(30, 'high', 'no', 'fair')

 * mysql://stu1900011804:***@162.105.146.37:43306
   mysql://stu1900011804:***@162.105.146.37:53306
1 rows affected.

[('no',)]